aside {
	height: 100%;
	position: relative;
}
aside h3 {
	font-size: 16px;
	text-align: left;
	margin: 7px 0 14px 0;
}

aside h4 {
	margin: 9px 0 0 0;

}

aside .sort-by {
	border-radius: 6px;
	margin-bottom: 20px;
	ul {
		padding-left: 0;
	}
}

#sort-by a {
	cursor: pointer;
	&.active {
	font-weight: bold;
	}
}

aside .sm-btn {
	position: absolute;
	top: 0;
	right: 15px;
}

.sm-review {
	img {
		width: 20%;
		margin-right: 5%;
		border-radius: 50px;
	}
	.right-content {
		width: 75%;
		margin-top: 10px;
	}
	img, .right-content {
		float: left;
	}
	h4 {
		margin: 0 0 4px 0;
	}
	.category {
		display: none;
	}
	p {
		margin: 0;
	}
}



.tile a {
	color: #333;
	background: #FAF8FA;
	transition: background 0.1s ease-in;
	&:hover {
		text-decoration: none;
		background: #EFEBE2;
	}
	display: block;
	border-radius: 6px;
	padding: 15px 10px;
	margin-bottom: 20px;
	img {
		width: 100%;
		border: #fff solid 3px;
	}
	h4 {
		font-size: 16px;
		margin: 14px 0 8px;
	}
	p {
		margin: 0;
	}
}

.top-tile {
	img {
		height: 245px;
	}
}

.short-top {
	text-align: center;
	h3 {
		margin-right: 10px;
	}
	h3, form {
		display: inline-block;
		vertical-align: middle;
	} 
	.search-box form {
	background: none;
	}
}

.breadcrumbs {
	color: #888;
	font-size: 13px;
	margin: 10px;
	a {
		color: #888;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

.search-results {
	& > h4 {
		font-weight: normal;
		font-size: 16px;
		margin: 7px 0 14px 0;
		color: #888;
	}
}

 .range-bottom {
    margin: 20px 0;
  }

 .price-range {
 input {
 	border: #333 solid 1px;
 	padding: 5px 10px;
 	width: 60px;
 }
 }
.noUi-base {
	border: 1px solid #D3D3D3;
}
.noUi-target {
  border: none;
}
.noUi-target.noUi-connect {
  display: inline-block;
  box-shadow: none;
  padding-bottom: 0;
}
.noUi-background {
  background: #fff;
  box-shadow: none;
}
.noUi-horizontal {
  height: 5px;
  width: 240px;
}
.noUi-horizontal .noUi-handle {
  background: #48c3dc;
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 20px;
  background: #fff;
  border: #dcdadc solid 1px;
  box-shadow: none;
  left: -10px;
  top: -8px;
}
.noUi-connect {
  background: #48c3dc;
  box-shadow: none;
  padding-bottom: 1px;
}
.noUi-handle:before {
  width: 4px;
  height: 4px;
  background: #48c3dc;
  left: 6px;
  top: 6px;
  border-radius: 20px;
}
.noUi-handle:after {
  background: none;
}

