aside {
	height: 100%;
	position: relative;
}
aside h3 {
	font-size: 16px;
	text-align: left;
	margin: 7px 0 14px 0;
}

aside h4 {
	margin: 9px 0 0 0;

}

aside .sort-by {
	background: #ebeaea;
	border-radius: 6px;
	padding: 10px 20px;
	margin-bottom: 20px;
	ul {
		padding-left: 15px;
		margin: 0;
	}
}

aside .sm-btn {
	position: absolute;
	top: 0;
	right: 15px;
}

.sm-review {
	img {
		width: 20%;
		margin-right: 2%;
	}
	.right-content {
		width: 78%;
	}
	img, .right-content {
		float: left;
	}
	h4 {
		margin: 0 0 4px 0;
	}
	.category {
		display: none;
	}
	p {
		margin: 0;
	}
}



.inner-tile {
	background: #ebeaea;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 20px;
	img {
		width: 100%;
	}
	h4 {
		font-size: 16px;
		margin: 10px 0 0;
	}
	p {
		margin: 0;
	}
}

.top-tile {
	img {
		height: 245px;
	}
}

.short-top {
	text-align: center;
	h3 {
		margin-right: 10px;
	}
	h3, form {
		display: inline-block;
		vertical-align: middle;
	}
}

.breadcrumbs {
	color: #888;
	font-size: 13px;
	margin: 10px;
	a {
		color: #888;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

.search-results {
	& > h4 {
		font-weight: normal;
		font-size: 16px;
		margin: 7px 0 14px 0;
		color: #888;
	}
}


