<div class="row page-container">
	<section class="col-lg-4 col-md-6 col-sm-6 col-lg-offset-4 col-md-offset-3 col-sm-offset-3 add-company" ng-controller="addCompanyCtrl">	
				<div><h4>Dodajesz swoją firmę</h4></div>
				<form action="#">
				<tabset type="pills">
					<tab heading="Krok 1">
						<p><label for="">Login</label><input type="text" placeholder="Login" ng-model="vendor.login"></p>

						<p><label for="">Hasło</label><input type="password" placeholder="Hasło" ng-model="vendor.pass"></p>

						<p><label for="">Powtórz hasło</label><input type="password" placeholder="Hasło" ng-model="vendor.pass"></p>

						<p><label for="">E-mail</label><input type="mail" placeholder="E-mail" ng-model="vendor.mail"></p>
					</tab>
					<tab heading="Krok 2">
						<p><label for="">Nazwa firmy</label><input type="text" placeholder="Nazwa firmy" ng-model="vendor.name"></p>
						<p><label for="">Kategoria</label><input type="text" placeholder="Kategoria" ng-model="vendor.categories"></p>
						<p><label for="">Adres</label><input type="text" placeholder="Ulica i numer budynku" ng-model="vendor.location.street"></p>
						<p class="two-inputs"><input type="text" placeholder="zip-code" class="small-input" ng-model="vendor.location.zip"><input type="text" placeholder="miasto" ng-model="vendor.location.city"></p>
						<p><label for="">Zakres cenowy</label></p>
						<p><label for="">Krótki opis</label> <textarea ng-model="vendor.shortDesc"></textarea></p>
						
						<p><label for="">Dłuższy opis</label><textarea ng-model="vendor.longDesc"></textarea></p>
						
						<p>Zdjęcia</p>


    					<p><button type="submit" ng-show="tabs[0].active = true">Dodaj firmę</button></p>
					</tab>
				</tabset>
				</form>
		
	</section>
</div>