<div ncy-breadcrumb></div>
<div class="row page-container">
	<section class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">

		<div><h4>Napisz do nas coś miłego :)</h4></div>
		<form action="#">
			<p>Twoje imię</p>
			<p><input type="text" placeholder="Nazwa firmy"></p>
			<p>Adres e-mail</p>
			<p><input type="text" placeholder="E-mail"></p>
			<p>W jakiej sprawie piszesz?</p>
			<p><input type="text" placeholder="Temat"></p>
			<p>Napisz parę słów o swojej firmie</p>
			<textarea></textarea>
			<p><button type="submit">Wyślij wiadomość</button></p>
		</form>
		
	</section>
</div>