<section class="main-top row">
	<div class="main-top-content container">
		<h2>Przeczytaj recenzje tysięcy par, wybierz najlepsze usługi
		<small>by uczynić <strong>ten dzień</strong> wyjątkowym</small></h2>
		<div class="search-box" ng-controller="mainSearchCtrl">
			<form action="#" ng-submit="search(query)">
				<p>
					<input type="text" ng-model="query" placeholder="Czego szukasz? (Np. sukni)" />
				</p>
				<!-- <p>
					<select name="city" id="city">
						<option value="Warszawa">Warszawa</option>
						<option value="Wrocław">Wrocław</option>
					</select>
				</p> -->
				<p>
					<button type="submit">Szukaj</button>
				</p>
			</form>
		</div>
	</div>
</section>
<section class="reviews">
	<h3>Najnowsze recenzje</h3>
	<div class="reviews-content row clearfix">
		<!-- To będzie prowadzić do vendora --> 
		<div ng-repeat="review in reviews | orderBy:'-id' | limitTo: 3" class="review col-lg-4 col-md-4 col-sm-12">
			<img src="img/placeholder-avatar.jpg" alt="" />
			<div class="right-content">
				<h4>{{ review.vendorId }} (nazwa firmy)</h4>
				<div class="stars"></div>
				<span class="category"> {{ review.categoryId }} (nazwa kategorii)</span>
				<p> {{ review.body | limitTo:100 }}{{ review.body.length < 100 ? '' : '...'}} </p>
			</div>
		</div>
	</div>
</section><!-- /reviews -->

<section class="categories row">
	<h3>Kategorie usług</h3>
	<div class="clearfix">
		<div class="category-tile col-lg-3 col-md-3 col-sm-12" ng-repeat="category in categories">
			<a ui-sref="category({cat: category.name})">
				<h3>{{ category.name }}</h3>
				<img ng-src="{{ category.img }}" alt="">
			</a>
		</div>
	</div>	
</section><!-- /categories -->

<section class="add-section">
	<div class="row clearfix">
		<div class="col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
			<a ui-sref="addcompany" class="btn btn-blue">
				+ dodaj swoją firmę
			</a>
		</div>
	</div>
</section><!-- /add-section -->